.tag {
    box-shadow: 1px 1px 4px black;
}

.rock {
    color: red;
}

.pop {
    color: magenta;
}

.indie {
    color: coral;
}

.english, .ingles {
    color: #ffdf66;
}

.openers {
    color: indigo;

}

.usa {
    color: white;
}

.party {
    color: blue;

}

.mashup{
    color: green;

}

.espanol {
    color: #ffdf66
}

.remember {
    color: orange;

}

.subnopop {
    color: palevioletred;

}

.secuencia {
    color: aquamarine;
}

.eurovision {
    color: mediumaquamarine
}

.punk {
    color: darkred;

}

.metal {
    color: black;

}